@import '../../../styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .weather {
    font-size: $font-size--medium;
  }

  .icon {
    display: block;
    font-size: $icon-size--weather;
  }

  .temperature {
    font-size: $font-size--small;
  }
  
  .city {
    font-size: $font-size--large;
  }
}