@import '../../../styles/index.scss';

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 1;

  @include useTheme() {
    background: themed('searchBackground');
  }

  .content {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    > .result {
      text-decoration: none;
      font-size: $font-size--large;

      @include useDevice(phones) {
        padding: $content-spacing--16 $content-spacing--8;
        font-weight: $font-weight--bold;
      }

      @include useDevice(desktops) {
        padding: $content-spacing--8;
        font-weight: $font-weight--medium;
      }

      @include useTheme() {
        color: themed('textInverted');
      }
      
      &:not(:last-child) {
        @include useTheme() {
          border-bottom: 1px solid themed('divider');
        }
      }
    }

    @include useDevice(phones) {
      width: 100%;
      padding-top: 64px;
    }
  
    @include useDevice(desktops) {
      width: $max-content-width;
      padding-top: 82px;
    }
  }
}