@import '../../../styles/index.scss';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;

  @include useTheme() {
    background: themed('topNavBackground');
  }

  .content {
    padding: $content-spacing--16;
    display: flex;
    align-items: center;

    @include useDevice(phones) {
      width: 100%;
    }

    @include useDevice(desktops) {
      width: $max-content-width;
    }

    .logoContainer {
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: $content-spacing--4;
      text-decoration: none;

      @include useTheme() {
        color: themed('textTopNav');
      }

      .icon {
        font-size: $icon-size--large;

        @include useDevice(phones) {
          display: none;
        }
      }

      .title {
        font-weight: 500;
        font-size: $font-size--medium;
        text-align: center;
        margin: 0;

        @include useDevice(phones) {
          display: none;
        }
      }
    }

    .searchContainer {
      flex-grow: 1;
      display: flex;
      position: relative;

      .search {
        font-family: $font-family--primary;
        flex-grow: 1;
        padding: $content-spacing--8 $content-spacing--4 $content-spacing--4*1.5;
        border: 0;
        border-radius: 4px;
      }

      .icon {
        flex-grow: 0;
        position: absolute;
        right: $content-spacing--4;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .themeContainer {
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: $content-spacing--4;
      cursor: pointer;

      @include useTheme() {
        color: themed('textTopNav');
      }

      .icon {
        font-size: $icon-size--medium;

        @include useDevice(phones) {
          font-size: $icon-size--large;
        }
      }

      .title {
        font-weight: 400;
        font-size: $font-size--small;
        text-align: center;
        margin: 0 0 0 4px;

        @include useDevice(phones) {
          display: none;
        }
      }
    }
  }
}