// Layout //
$max-content-width: 1024px;
$content-spacing--256: 256px;
$content-spacing--128: 128px;
$content-spacing--64: 64px;
$content-spacing--32: 32px;
$content-spacing--24: 24px;
$content-spacing--16: 16px;
$content-spacing--8: 8px;
$content-spacing--4: 4px;

// Text //
$font-family--primary: 'Quicksand', sans-serif;
$font-size--small: 11px;
$font-size--medium: 14px;
$font-size--large: 18px;

// Iconography
$icon-size--small: 8px;
$icon-size--normal: 12px;
$icon-size--medium: 16px;
$icon-size--large: 24px;

// Responsiveness //
$query-desktop: "(min-width: #{$max-content-width})";
$query-phone: "(max-width: #{$max-content-width - 1})";

@mixin respond-to($media) {
  @if $media == desktops {
    @media #{$query-desktop} { @content; }
  }
  @else if $media == phones {
    @media #{$query-phone} { @content; }
  }
}