<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/472aa0a07f.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div>Top Nav here</div>

    <div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>