{% extends './base.twig' %}

{% block content %}
  <div id="homepage" class='reactContainer'></div>
  <div>
  This is a test
  {{ ipInfo }}
  </div>
{% endblock %}

{% block scripts %}
  <script src='react/screens/HomePage.js'></script>
{% endblock %}