{% extends './base.twig' %}

{% block content %}
  <div id="homepage"></div>
  <div>
  This is a test
  {{ ipInfo }}
  </div>
{% endblock %}

{% block scripts %}
  <script src='react/screens/screens.js'></script>
{% endblock %}