{% extends './base.twig' %}

{% block content %}
  <div id="welcome" class='reactContainer'></div>
  <div id="homepage" class='reactContainer'></div>
{% endblock %}

{% block scripts %}
  <script src='/react/screens/HomePage.js'></script>
  <script src='/react/components/Welcome/Welcome.js'></script>
{% endblock %}