@import '../../../styles/index.scss';

.container{
  border-radius:4px;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.3);
  overflow: hidden;

  .section {
    padding: $content-spacing--32 $content-spacing--64;

    &._border {
      &__bottom {
        @include themify() {
          border-bottom: 1px solid themed('divider');
        }

        &__strong {
          @include themify() {
            border-bottom: 1px solid themed('dividerStrong');
          }
        }
      }
    }

    &._align {
      &__center {
        display: flex;
        justify-content: center;
      }

      &__start {
        display: flex;
        justify-content: flex-start;
      }

      &__end {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  @include themify() {
    color: themed('textPrimary');
    background: themed('cardColor');
  }
}
