@import '../../../styles/index.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .sun {
    font-size: 0.5em;
    position: absolute;
    transform: translateY(15%);
  }

  &.size_normal {
    font-size: 24px;
  }

  &.size_xl {
    font-size: 256px;
  }

  &.color_normal {
    .sun {
      @include useTheme() {
        color: themed('textInverted');
      }
    }
    .cloud {
      @include useTheme() {
        color: themed('textPrimary');
      }
    }
  }

  &.color_inverted {
    .sun {
      @include useTheme() {
        color: themed('textPrimary');
      }
    }
    .cloud {
      @include useTheme() {
        color: themed('textInverted');
      }
    }
  }

  &.color_colorized {
    .sun {
      color: $logo-color--sun;
    }
    .cloud {
      color: $logo-color--cloud;
    }
  }
}