@import '../../../styles/index.scss';

.container {
  .content {
    display: flex;
    flex-wrap: wrap;

    @include useDevice(phones) {
      flex-direction: column;
    }

    > * {
      margin: $content-spacing--16;
    }
  }
  
  .title {
    font-size: $font-size--large;
    margin: 0 0 $content-spacing--8 0;
  }
}