@import '../../../styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .temperature {
    font-size: $font-size--medium;
  }

  .weather {
    font-size: $font-size--large;
  }

  .icon {
    display: block;
    font-size: $icon-size--weather;
  }

  &.large {
    .icon {
      font-size: $icon-size--weather*2;
    }
    
    .weather {
      font-size: $font-size--large;
    }

    .temperature {
      font-size: $font-size--xl;
    }
  }
}